[Desktop Entry]
Name=Install OS
Icon=system-software-install
Exec=pkexec us.getsol.Installer
Terminal=false
Type=Application
Categories=X-GNOME-Settings-Panel;GTK;System;Settings;
Keywords=Install;SystemSettings;
